@import "./variables";

.viz-container {
  background: $main-bg;
  width: 100%;
  height: 100%;
  position: relative;

  svg#map {
    width: 100%;
    height: 100%;

    .ocean {
      fill: none;
      pointer-events: visible;
    }
  }
}
