@import "variables";
$body-padding: 8px;
html, body {
  width: 100%;
  min-width: $res-min-width;
  min-height: $res-min-height * (2 / 3);
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  padding: $body-padding;
  box-sizing: border-box;
  overflow: auto;
}

#viz-container {
  background: #CCC;
  width: 100%;
  height: 100%;
  position: relative;

  & > svg {
    width: 100%;
    height: 100%;
  }
}
