$sidebar-margin: 64px;
$sidebar-width: 300px;

div.info-box {
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 300px;
  top: 16px;
  left: calc(100% - #{$sidebar-margin} - #{$sidebar-width});

  transform-origin: 50% 100%;

  background: rgba(255,255,255,.4);

  font-family: monospace;
  text-transform: uppercase;
  text-shadow: 0 0 0.1em white;
  color: #333;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  height: 36px;
  will-change: background, height, top, left, right;

  .title {
    width: 100%;
    transition: width 300ms ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    .subtitle {
      text-transform: capitalize;
      color: #999;
      font-size: 12px;
      animation: rolldown 100ms ease-out 1;
    }
  }

  .compare {
    position: absolute;
    margin: 8px;
    width: calc(100% - 16px);
    bottom: 0;
    left: 0;
  }

  &.pinned {
    right: unset;
    transition: left 300ms ease-out, top 300ms ease-out, height 300ms ease-out !important;
    top: 0 !important;
    height: 100% !important;
    background: rgba(255,255,255,.9) !important;

    &:nth-of-type(1) { left: 0; }
    &:nth-of-type(2) { left: $sidebar-width; }
    &:nth-of-type(3) { left: $sidebar-width * 2; }
    &:not(:first-of-type) { border-left: 2px solid gray; }

    .close {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      color: white;
      text-shadow: 0 0 1px silver, 0 0 2px grey, 0 0 1px grey;
    }

    .compare {
      display: none !important;
    }
  }

  &.expanded {
    pointer-events: all;
    transition: background 300ms ease-out, top 300ms ease-out, height 300ms ease-out;
    background: rgba(255,255,255,.8);
    height: calc(100% - 128px);

    top: 64px;

    .title {
      width: 0 !important;
      overflow: visible;
      font-size: 16px;
    }
  }
}


@keyframes rolldown {
  0% {
    opacity: 0;
    margin-top: -12px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
