@import "./variables";

// TODO: rename to map.scss
$land-color: white;
$land-hover: .9;
$land-selected: .8;

svg#map {
  width: 100%;
  height: 100%;

  path {
    fill: none;
  }

  .ocean {
    fill: none;
    pointer-events: visible;
  }

  .world {
    fill: #666;
  }

  .layer {
    path.land {
      pointer-events: visiblefill;
      transition: color 300ms ease-out;
      color: transparent;
      fill: currentColor;

      &:hover {
        cursor: pointer !important;
        color: transparentize($land-color, $land-hover);
      }

      &.selected {
        color: transparentize($land-color, $land-selected);
      }
    }

    path.boundaries {
      stroke: #CCC;
      fill: none !important;
      stroke-width: .5px;
    }
  }
}
