@import "./variables";

.layer {
  color: $layer-disabled;

  &.current {
    fill: $layer-enabled;

    & > * {
      pointer-events: fill !important;
      cursor: pointer;

      &:hover {
        fill: $item-hover;
      }

      &.selected {
        fill: $item-selected;
      }
    }
  }
}

path {
  fill: #333 !important;
}

path:hover {
  fill: #111 !important;
}

.regions path {
  stroke: cyan;
  stroke-width: 3px;
}

.countries path {
  stroke: green;
}

.states path {
  stroke: red;
}
