$main-bg: #CCC;

$layer-disabled: gray;
$layer-enabled: #666;

$item-hover: silver;
$item-selected: white;

$res-min-width: 1024px;
$res-min-height: 768px;

$sidebar-margin: 0px;
$box-width: $res-min-width / 3;


